# async I/O
aiohttp
asyncio

# HTML parsing for crawlers
lxml
beautifulsoup4

# tests
pytest

# progress bar
tqdm

# IGC parsing
aerofiles

# visualization 
matplotlib
seaborn

# memory profiling
pympler

# documentation
sphinx
autodoc

# scientific computing
numpy

# distance computation
geopy
geographiclib