# async I/O
aiohttp
asyncio

# HTML parsing for crawlers
lxml
beautifulsoup4

# progress bar
tqdm

# IGC parsing (from GitHub because of old release)
aerofiles @ git+https://github.com/Turbo87/aerofiles.git

# visualization 
seaborn


# scientific computing
numpy
scipy