# async I/O
aiohttp
asyncio

# HTML parsing for crawlers
lxml
beautifulsoup4

# tests
pytest

# progress bar
tqdm

# IGC parsing (from GitHub because of old release)
aerofiles @ git+https://github.com/Turbo87/aerofiles.git

# visualization 
matplotlib

# documentation
sphinx
autodoc
sphinx_rtd_theme

# scientific computing
numpy
scipy

# command line interface
Click